---
import path from 'path';
    import { CommonComponents } from '../commonTypes';
    import './style.scss';

    import { HeaderCopyright, Locales, languages } from 'sitemap/copyright';

    type Props = {
        locale: Locales
    }

    const { locale } = Astro.props;

    const COPY = HeaderCopyright[locale];

    const {pathname} = Astro.url;
    const {lang} = Astro.params;

    const createLangLink = (langCode: string) => {
        const pathItems = pathname.split('/');
        const languageCodes = Object.keys(languages);

        const found = pathItems.map(item => {
            if (item === languageCodes[languageCodes.indexOf(item)]) {
                return langCode;
            }
            return item;
        })

        return found.join('/');
    }

    const createHref = (path: string) => lang ? `/${lang}${path}` : `${path}`;
---

<header class="header" id={CommonComponents.Header}>
    <div class="container">
        <ul class="menu">
            {COPY.links.map(link => {
                const linkHref = createHref(link.href);
                return (
                        <li class="menu__item">
                            <a class="label-1" href={linkHref}>{link.title}</a>
                        </li>
                    )
                }
            )}
        </ul>

        <ul class="lang-select">
            {Object.entries(languages).map(([langCode, label]) => {
                const langSelectHref = createLangLink(langCode);
                return (
                    <li class="lang-select__item">
                        <a href={langSelectHref}>{label}</a>
                    </li>
                )
            })}
        </ul>
    </div>
</header>

<script src="./script.ts"></script>