---
    import { CommonComponents } from '../commonTypes';
    import './style.scss';

    import { HeaderCopyright, Locales, languages } from 'sitemap/copyright';

    type Props = {
        locale: Locales
    }

    const { locale } = Astro.props;

    const COPY = HeaderCopyright[locale];

    const {pathname} = Astro.url;
    const {lang} = Astro.params;
---

<header class="header" id={CommonComponents.Header}>
    <div class="container">
        <ul class="menu">
            {COPY.links.map(link => (
                    <li class="menu__item">
                        <a class="label-1" href={link.href}>{link.title}</a>
                    </li>
                )
            )}
        </ul>

        <ul class="lang-select">
            {Object.entries(languages).map(([langCode, label]) => (
                <li class="lang-select__item">
                    <a href={`/${langCode}${pathname}`}>{label}</a>
                </li>
            ))}
        </ul>
    </div>
</header>

<script src="./script.ts"></script>