---
import 'styles/base.sass';
import 'styles/home/index.sass';

import PageLayot from 'layouts/page.astro';
import { HomePage as PageSettings } from 'sitemap/pages';
import { Locales } from 'sitemap/copyright';

import AstroImage from 'assets/img/astro.jpeg'

type Props = {
	locale: Locales
}

const {locale = 'en'} = Astro.props;

const COPY = PageSettings.copy[locale];
---

<PageLayot {...PageSettings} locale={locale}>
	<main id={`${PageSettings.id}`} data-page-id={`${PageSettings.id}`}>
		<section class="hero">
			<h1>{COPY.title}</h1>
			<h2>{COPY.subtitle}</h2>
			<img src={AstroImage} class="astronaut" alt="Astronaut"/>
		</section>
	</main>
</PageLayot>

<script src="app/pages/homePage"></script>