---
import 'styles/base.sass';

import type { SitePage } from 'sitemap/types';
import CssVarsTest from 'components/common/scripts/css-vars-test.astro';
import WindowAppReady from 'components/common/scripts/window.appReady.astro';
import NotSupported from 'components/common/scripts/not-supported.astro';
import PageMeta from "./meta.astro";
import Fonts from "./fonts.astro";
import Header from 'components/common/header/view.astro';
import Footer from 'components/common/footer/view.astro';
import MobileMenu from 'components/common/mobileMenu/view.astro';
import Preloader from 'components/common/preloader/view.astro';

import { NoScriptId } from 'sitemap/pages';
import { type Locales  } from 'sitemap/copyright';

type Props = SitePage & {
	locale: Locales,
	isActivePreloader?: boolean,
	isActiveHeader?: boolean,
	isActiveFooter?: boolean,
	isActiveMobileMenu?: boolean,
    noSmoothWrapper?: boolean,
};

// default values
const {
    id,
    locale,
    title = 'Title',
    description = 'Description',
    href,
    image,
    noIndex = false,
    disableScripts = false,
    isActiveFooter = true,
    isActiveMobileMenu = true,
    isActiveHeader = true,
    isActivePreloader = true,
    noSmoothWrapper = false,
} = Astro.props;

const bodyClass = `locale-${locale}`;

---

<!DOCTYPE html>
<html lang={locale}>
    <head>
        <PageMeta
			locale={locale}
			href={href}
			title={title}
			description={description}
			image={image}
			noIndex={noIndex}
		/>

        <Fonts />

        {(id != NoScriptId)
            ? (
                <noscript>
                    <meta http-equiv="refresh" content="0;url=/no-script.html"/>
                </noscript>
            )
            : <script> window.location.href = '/' </script>
        }

		{(disableScripts !== 'force') && <WindowAppReady />}
    </head>

    <body class={`${bodyClass}`}>
        {isActiveHeader && <Header locale={locale}/>}

        {noSmoothWrapper
			? (
				<>
					<main id={`${id}`} data-page-id={`${id}`}>
						<slot />
					</main>
					{isActiveFooter && <Footer locale={locale}/>}
					<script>window.DISABLE_SMOOTHER_WRAPPER = 1</script>
				</>
			)
			: (
				<div id="smooth-wrapper">
					<div id="smooth-content">
						<main id={`${id}`} data-page-id={`${id}`}>
							<slot />
						</main>
						{isActiveFooter && <Footer locale={locale}/>}
					</div>
				</div>
			)
		}

        {isActiveFooter && <Footer locale={locale}/>}
        {disableScripts !== 'force' &&
			<CssVarsTest />
			<NotSupported criticalChecks={[ 'supportsCssVars' ]} />
        }
    </body>
    {isActiveMobileMenu && <MobileMenu locale={locale}/>}
    {isActivePreloader && <Preloader />}
</html>

<script>
	import * as Lazy from 'src/scripts/components/lazy';
	import { ImageLazyLoadComponent } from 'src/scripts/components/lazy/lazyImageLoadComponent';
	import { LazyScriptComponent } from 'src/scripts/components/lazy/lazyScriptComponent';

	ImageLazyLoadComponent.RegisterAll();
	LazyScriptComponent.RegisterAll();

    window.appReady(() => {
        Lazy.BeginLoading();
    });
</script>
